---
title: Norway F'jes
---
<div class="navbar">
  <span>
    <a href="">
      JOURNEY
    </a>
  </span>
  <span>
    <a href="">
      GEAR
    </a>
  </span>
  <span>
    <a href="">
      TRIP
    </a>
  </span>
</div>
<div class="header-div img-bg title">
  <div class="title-content">
    <h1>
      HARDANGERVIDDA PLATEAU
    </h1>
    <h1>
      Trolltunga - Eidfjord
    </h1>
  </div>
</div>

<div class="section-container">
  <div class="text-container">
    <h1>
      THE JOURNEY
    </h1>
    <p>
      Hardangervidda is a mountain plateau ("vidde" in Norwegian) in central southern Norway, covering parts of the counties of Buskerud, Hordaland and Telemark. It is the largest plateau of its kind in Europe, with a cold year-roundalpine climate, and one of Norway's largest glaciers, Hardangerjøkulen, is situated here.
    </p>

    <p>
      Much of the plateau is protected as part of Hardangervidda National Park. Hardangervidda is a popular tourist and leisure destination, and it is ideal for many outdoor activities. The region is divided administratively between the counties of Buskerud, Hordaland, and Telemark.
    </p>
  </div>

  <div class="gear-visual-container">
    <h3 id="gear-margin">GEAR</h3>
    <div id="gear-container">
      <div id="left">
        <h4>
          Camping Gear:
        </h4> 
        Backpack – Golite Odyssey 
        <br>  Daypack/camera bag – Black Diamond Sphynx 32L 
        <br>  Tent – MSR Hubba single person 
        <br>  Sleeping Bag – Mountain Hardwear Phantom 32 
        <br>  Lightweight foam sleeping pad 
        <br>  Leki Makalu trekking poles 
        <br>  Water filter – Katadyn mini 
        <br>  Petzl Zipka plus headlamp 
        <br>  First aid kit 
        <br>  Rain cover for backpack 
        <br>
        <h4>
          Misc: 
        </h4>
        Multipurpose camp soap 
        <br>  journal & pens 
        <br>  Hand cleaner 
        <br>  Plug adapter 
        <br>  Book 
        <br>  Maps
      </div>

      <div id="right">
        <h4>
          Cooking: 
        </h4>
        Stove – Snow Peak GigaPower 
        <br> Cookware – Snow Peak titanium pan & lid 
        <br> Spoon Fork combination 
        <br> Food
        <h4>
          Clothing: 
        </h4>
        Shell Jacket – Golite 
        <br> Shell Pants – Marmot Precip 
        <br> Marmot Driclime windshirt 
        <br> Lightweight fleece 
        <br> MEC lightweight softshell pants 
        <br> Lightweight shorts 
        <br> 3x t-shirts 
        <br> 3x socks 
        <br> 3x underwear 
        <br> Fleece beanie 
        <br> Lightweight camp towel 
        <br> Sandals

      </div>
    </div>

  </div>
</div>


<div class="banner">
  <%= image_tag ("banner_1_green.png"), :class => 'banner-width'  %>

</div>
</div>


<div class="section-container">
  <div class="text-container">
    <h1>
      Odda - Trolltunga
    </h1>
    <p>
      It took us 11 hours round trip. That’s from the Skjeggedal parking lot, six hours of hiking to the top including stops for lunch and photos, an hour at Trolltunga, and then four excruciating hours back down to the parking lot. We have friends who did the whole trip in 8 hours, so it’s really up to how in-shape you are, what the weather’s like and how quickly you hike.
    </p>

    <p>
      From the trailhead parking lot, you climb the entire first kilometer up stone steps. Occasionally there are points where there is a slick rock face, and a large, dirty rope is in place to help you climb up. The first kilometer is pretty brutal overall, and you’re surprised when you get to the 1km sign because it feels like you’ve done a lot more than that. Nope, you’ve got a long ways to go buddy. There are a few times you can look back and see some pretty cool views of the lake and morning fog during that section.
    </p>
    <p>

      Between the 1km and 2km mark, it levels out somewhat and you find yourself in an enormous mountaintop valley. It was very marshy during our September hike, and oftentimes you’ll find yourself jumping from stone to stone. There are a few ice cold creeks here, so it’s a good time to refill your water bottle. Also interesting to note are the several secluded cabins you’ll see along the way. After about a 45 minute walk through this valley, it’s time for another major climb.
    </p>
  </div>

  <div class="section-visual">
    <div class="section">
      <%= image_tag ("image_day1.png"), :class => 'section-quarter-0' %>
      <%= image_tag ("image_day1_2.png"), :class => 'section-quarter-1'  %>
      <%= image_tag ("image_day1_3.png"), :class => 'section-half-vert'  %>
    </div>
  </div>

  <div class="banner">
    <%= image_tag ("banner_2_gray.png"), :class => 'banner-width' %>
  </div>

  <div class="section-visual">
    <div class="section">
      <%= image_tag ("image_day2.png"), :class => 'section-quarter-0' %>
      <%= image_tag ("image_day2_2.png"), :class => 'section-quarter-1'  %>
      <%= image_tag ("image_day2_3.png"), :class => 'section-half-vert'  %>
    </div>
  </div>

</div>
</div>

<hr>

<div class="section-container">
  <div class="text-container">
    <h1>
      Trolltunga - Tyssevassbu
    </h1>
    <p>
      It took us 11 hours round trip. That’s from the Skjeggedal parking lot, six hours of hiking to the top including stops for lunch and photos, an hour at Trolltunga, and then four excruciating hours back down to the parking lot. We have friends who did the whole trip in 8 hours, so it’s really up to how in-shape you are, what the weather’s like and how quickly you hike.
    </p>
    <p>
      From the trailhead parking lot, you climb the entire first kilometer up stone steps. Occasionally there are points where there is a slick rock face, and a large, dirty rope is in place to help you climb up. The first kilometer is pretty brutal overall, and you’re surprised when you get to the 1km sign because it feels like you’ve done a lot more than that. Nope, you’ve got a long ways to go buddy. There are a few times you can look back and see some pretty cool views of the lake and morning fog during that section.
    </p>
    <p>
      Between the 1km and 2km mark, it levels out somewhat and you find yourself in an enormous mountaintop valley. It was very marshy during our September hike, and oftentimes you’ll find yourself jumping from stone to stone. There are a few ice cold creeks here, so it’s a good time to refill your water bottle. Also interesting to note are the several secluded cabins you’ll see along the way. After about a 45 minute walk through this valley, it’s time for another major climb.
    </p>
  </div>

  <div class="banner">
    <%= image_tag ("banner_3.jpg"), :class => 'banner-width' %>

  </div>
</div>

<div class="section-visual">
  <div class="section">
    <%= image_tag ("image_day3.jpg"), :class => 'section-quarter-0', :style => 'height: 240px' %>
    <%= image_tag ("image_day3_2.jpg"), :class => 'section-quarter-1', :style => 'height: 350px'  %>
    <%= image_tag ("image_day3_3.jpg"), :class => 'section-half-vert-0'  %>
    <%= image_tag ("image_day3_4.jpg"), :class => 'section-half-vert-1'  %>
  </div>
</div>

<hr>

<div class="section-container">
  <div class="text-container">
    <h1>
      Tyssevassbu - Torehytten
    </h1>
    <p>
      It took us 11 hours round trip. That’s from the Skjeggedal parking lot, six hours of hiking to the top including stops for lunch and photos, an hour at Trolltunga, and then four excruciating hours back down to the parking lot. We have friends who did the whole trip in 8 hours, so it’s really up to how in-shape you are, what the weather’s like and how quickly you hike.
    </p>
    <p>
     From the trailhead parking lot, you climb the entire first kilometer up stone steps. Occasionally there are points where there is a slick rock face, and a large, dirty rope is in place to help you climb up. The first kilometer is pretty brutal overall, and you’re surprised when you get to the 1km sign because it feels like you’ve done a lot more than that. Nope, you’ve got a long ways to go buddy. There are a few times you can look back and see some pretty cool views of the lake and morning fog during that section.
   </p>
   <p>
    Between the 1km and 2km mark, it levels out somewhat and you find yourself in an enormous mountaintop valley. It was very marshy during our September hike, and oftentimes you’ll find yourself jumping from stone to stone. There are a few ice cold creeks here, so it’s a good time to refill your water bottle. Also interesting to note are the several secluded cabins you’ll see along the way. After about a 45 minute walk through this valley, it’s time for another major climb.
  </p>
</div>

<div class="banner">
  <%= image_tag ("banner_4_white.jpg"), :class => 'banner-width'  %>
</div>
<div class="section-visual">
  <div class="section">
    <%= image_tag ("image_day4.jpg"), :class => 'section-quarter-0' %>
    <%= image_tag ("image_day4_2.jpg"), :class => 'section-quarter-1'  %>
    <%= image_tag ("image_day4_3.jpg"), :class => 'section-half-vert'  %>
  </div>
</div>

<div class="visual-container">
  <div class="test">
    <div class="wrap">
      <%= image_tag ("image_day5.png"), :class => ' pic1' %>
      <%= image_tag ("image_day5_2.png"), :class => ' pic2' %>
    </div>
    <div class="">
      <%= image_tag ("image_day5_3.png"), :class => ' pic3'  %>
      <%= image_tag ("image_day5_4.png"), :class => ' pic3'  %>
    </div>
  </div>
</div>

</div>
</div>
<hr>

<div class="section-container">
  <div class="text-container">
    <h1>
      Torehytten - Hadlaskar
    </h1>
    <p>
     It took us 11 hours round trip. That’s from the Skjeggedal parking lot, six hours of hiking to the top including stops for lunch and photos, an hour at Trolltunga, and then four excruciating hours back down to the parking lot. We have friends who did the whole trip in 8 hours, so it’s really up to how in-shape you are, what the weather’s like and how quickly you hike.
   </p>
   <p>
    From the trailhead parking lot, you climb the entire first kilometer up stone steps. Occasionally there are points where there is a slick rock face, and a large, dirty rope is in place to help you climb up. The first kilometer is pretty brutal overall, and you’re surprised when you get to the 1km sign because it feels like you’ve done a lot more than that. Nope, you’ve got a long ways to go buddy. There are a few times you can look back and see some pretty cool views of the lake and morning fog during that section.
  </p>
  <p>
    Between the 1km and 2km mark, it levels out somewhat and you find yourself in an enormous mountaintop valley. It was very marshy during our September hike, and oftentimes you’ll find yourself jumping from stone to stone. There are a few ice cold creeks here, so it’s a good time to refill your water bottle. Also interesting to note are the several secluded cabins you’ll see along the way. After about a 45 minute walk through this valley, it’s time for another major climb.
  </p>
</div>

<div class="banner">
  <%= image_tag ("banner_5.jpg"), :class => 'banner-width'  %>
</div>

<div class="section-visual">
  <div class="section">
    <%= image_tag ("image_day6.png"), :class => 'section-quarter-0' %>
    <%= image_tag ("image_day6_2.png"), :class => 'section-quarter-1'  %>
    <%= image_tag ("image_day6_3.png"), :class => 'section-half-vert'  %>
  </div>
</div>

<div class="section-visual">
  <div class="section">
    <%= image_tag ("image_day6_5.png"), :class => 'section-top-left' %>
    <%= image_tag ("image_day6_6.png"), :class => 'section-top-right'  %>
    <%= image_tag ("image_day6_7.png"), :class => 'img-half-horizontal'  %>
  </div>
</div>

<div class="banner">
  <%= image_tag ("banner_6_sun.png"), :class => 'banner-width'  %>
</div>

<hr>

<div class="section-container">
  <div class="text-container">
    <h1>
     Hadlaskar - Hedlo
   </h1>
   <p>
     It took us 11 hours round trip. That’s from the Skjeggedal parking lot, six hours of hiking to the top including stops for lunch and photos, an hour at Trolltunga, and then four excruciating hours back down to the parking lot. We have friends who did the whole trip in 8 hours, so it’s really up to how in-shape you are, what the weather’s like and how quickly you hike.
   </p>
   <p>
    From the trailhead parking lot, you climb the entire first kilometer up stone steps. Occasionally there are points where there is a slick rock face, and a large, dirty rope is in place to help you climb up. The first kilometer is pretty brutal overall, and you’re surprised when you get to the 1km sign because it feels like you’ve done a lot more than that. Nope, you’ve got a long ways to go buddy. There are a few times you can look back and see some pretty cool views of the lake and morning fog during that section.
  </p>
  <p>
    Between the 1km and 2km mark, it levels out somewhat and you find yourself in an enormous mountaintop valley. It was very marshy during our September hike, and oftentimes you’ll find yourself jumping from stone to stone. There are a few ice cold creeks here, so it’s a good time to refill your water bottle. Also interesting to note are the several secluded cabins you’ll see along the way. After about a 45 minute walk through this valley, it’s time for another major climb.
  </p>
</div>

<div class="section-visual">
  <div class="section">
    <%= image_tag ("image_day7.png"), :class => 'section-top-left' %>
    <%= image_tag ("image_day7_2.png"), :class => 'section-top-right'  %>
    <%= image_tag ("image_day7_3.png"), :class => 'img-half-horizontal'  %>
  </div>
</div>

<hr>

<div class="section-container">
  <div class="text-container">
    <h1>
     Hedlo
   </h1>
   <p>
     It took us 11 hours round trip. That’s from the Skjeggedal parking lot, six hours of hiking to the top including stops for lunch and photos, an hour at Trolltunga, and then four excruciating hours back down to the parking lot. We have friends who did the whole trip in 8 hours, so it’s really up to how in-shape you are, what the weather’s like and how quickly you hike.
   </p>
   <p>
    From the trailhead parking lot, you climb the entire first kilometer up stone steps. Occasionally there are points where there is a slick rock face, and a large, dirty rope is in place to help you climb up. The first kilometer is pretty brutal overall, and you’re surprised when you get to the 1km sign because it feels like you’ve done a lot more than that. Nope, you’ve got a long ways to go buddy. There are a few times you can look back and see some pretty cool views of the lake and morning fog during that section.
  </p>
  <p>
    Between the 1km and 2km mark, it levels out somewhat and you find yourself in an enormous mountaintop valley. It was very marshy during our September hike, and oftentimes you’ll find yourself jumping from stone to stone. There are a few ice cold creeks here, so it’s a good time to refill your water bottle. Also interesting to note are the several secluded cabins you’ll see along the way. After about a 45 minute walk through this valley, it’s time for another major climb.
  </p>
</div>

<div class="footer-btn">
  Download
</div>
